<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить товар</title>
</head>
<body>

<h2>Добавить товар / услугу</h2>

<form th:action="${fuel.id} == null
        ? @{/user/fuel/save}
        : @{/admin/fuel/save}"
      th:object="${fuel}"
      method="post">
    <input type="hidden" th:field="*{id}"/>

    <input type="hidden" th:field="*{id}"/>

    <label>Название:</label>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <label>Цена:</label>
    <input type="number" step="0.01" th:field="*{price}" required/><br/><br/>

    <label>Количество:</label>
    <input type="number" step="0.01" th:field="*{quantity}" required/><br/><br/>

    <button type="submit">Сохранить</button>
</form>


<a href="/fuel">⬅ Назад</a>

</body>
</html>
