<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<h1>Регистрация</h1>

<p>
    <a th:href="@{/}">На главную</a>
</p>

<form th:action="@{/register}" method="post" th:object="${user}">
    <label>Логин:
        <input type="text" th:field="*{username}">
    </label>
    <br/>
    <label>Пароль:
        <input type="password" th:field="*{password}">
    </label>
    <br/>
    <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>
