<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Пользователи</h1>

<a th:href="@{/admin/users/new}">Добавить пользователя</a>
<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Роль</th>
        <th>Действия</th>
    </tr>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.role}"></td>
        <td>
            <a th:href="@{'/admin/users/edit/' + ${u.id}}">Редактировать</a> |
            <a th:href="@{'/admin/users/delete/' + ${u.id}}"
               onclick="return confirm('Удалить пользователя?')">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>
